**/.vscode/

*.o

fox32.rom
fox32rom.h

fox32

fox32.exe
SDL2.dll

fox32.html
fox32.wasm
fox32.js
fox32.data

Makefile
Makefile.in
configure
config.h.in
config.h
config.log
config.status
aclocal.m4
autom4te.cache
build-aux
stamp-h1
